header {
  text-align: center;}
body {
  background-color: black;
  color: lightskyblue;
  text-align: left;}
main {
  text-align: left;}
h1 {
  border: 2px solid white;
  padding: 20px;
  width: fit-content;
  text-align: center;}
h3 {
  border-bottom: 2px solid white;
  width: fit-content;}
